@font-face {

  font-family:DINRoundWeb;

  src:url(fonts/DINRoundWeb.woff) format("woff");

}
.text-black{
  color:rgb(120,120,120);
}
.bkg-skyblue {
  background: #53bdd0;
}
.bkg-white{
  background:  #FFFFFF;
}
.bkg-morado{
  background-color: #3B4B88;
}
@font-face {
  font-family: 'Orange Juice';
  src: url('http://www.fontsaddict.com/fontface/orange-juice.ttf');
}
body{
    font-family: 'Lato',sans-serif;

}
/* Clouds */
#clouds path {
  fill: #fff;
  stroke: #fff;
}

.clouds {
  background: #fff;
}
.clouds p {
  color: rgb(120,120,120);
}
.clouds a {
  color: #47b9cd;
  text-decoration: none;
}
.clouds a:hover {
  color: #1a5661;
}
#contenido{
    padding-left: 0;
    padding-right: 0;
}
#logo-img{
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  height: 100%;
}
@media (min-width: 768px) {
  #contenido{
      float: right;
  }
  #first-container{
    padding-right: 0;
  }
  #first-row{
    margin-right: 0px;
    width: 100%;
    padding-right: 0;
    margin-left: 0px;
  }
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    max-width:auto;
    margin-right: 0;
    margin-left: 0;
  } 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
  #nav-left{
    margin-left:0;
    padding-right: 0;
    position: fixed;
    z-index: 100;
    height: 100%;
    padding-left: 0;
    font-size:16px;
    font-weight: bold;
  }
  .container{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    height: 100%;
  }
  .row{
    height: 100%;
    padding-bottom:0;
    margin-bottom:0;
    width: 100%;

  }
  .navbar{
    height: 100%;
    border-radius: 0px;
  }
  ul.nav ul li a{
        padding-left: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 100%;
  }
  ul.nav li a{
    padding-left: 3em;

  }

  .navbar-brand{
    padding-top:2em;
    padding-bottom:4em;
    text-align: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }

  li.dropdown:hover>ul{
    position:absolute;
    display:block; left:100%;
    top:0;
    padding-top: 0;
  }
  li.dropdown>ul{
    width: 100%;
  }
  ul.dropdown-menu {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  ul.dropdown-menu >li {
  height: 40px;
  /* padding-bottom: 5px; */
  /* margin-bottom: 5px; */
  /* border-bottom: 2px solid rgb(225, 225, 225); */
  padding-top: 0.5em;
  }
  #nav-left>nav>.collapse>.nav>li {
    border-bottom: 2px solid rgb(221, 221, 221);
  }
  #nav-left>nav>.collapse>.nav>li:first-child{
    border-top:2px solid rgb(221, 221, 221);
  }
  ul.dropdown-menu >li:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-color:transparent;
  }
}

@media screen and (max-width: 767px) {

  li.dropdown >ul.dropdown-menu {
    background-color: rgb(42, 50, 59)!important;
    margin: 1em!important;
    border-radius: 4px!important;
  }
  .container{
    width: 100%;
    margin-left:0;
    margin-right: 0;
    padding-left:0;
    padding-right: 0;
  }
  #nav-principal{
    margin-bottom: 0px;
  }
}